/* For small Icons */
/* Navvar */
.icon-sm {
    font-size: 2rem;
}

.image-lg {
    width: 9rem;
    height: 9rem;
    object-fit: cover;
}

.fa-heart{
    font-size: 1.5rem;
}

.xsmall {
    font-size: 0.65rem;
}